.left-container {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin: 2px;
    width: 50%;
    text-align: justify;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 20px;
    background: #F5F5F5;
    color: #383838;
    font-family: 'Gill Sans';
}


h1 {
    font-size: 45px;
    font-weight: 500
}

.left-not-sticky{
    margin-left: 82px;
    width: 48.6%;
}

.arrow-wrapper {
    padding-right: 30px;
    justify-content: right;
    display: flex;
    padding-top: 20px;
    padding-left: 5px;
}