.modal {
    width: 400px;
    display: flex;
    flex-direction: column;
     padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px; 
    margin: 20px; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
    font-family: 'Gill Sans';
}

.left-justify-modal {
    display: flex;
    flex-direction: column;
    
}
.modal-back-wrapper {
    padding-top: 50px;
    padding-left: 80%;
}


.modal-heading{

    padding-left: 40px;
    font-weight: 600;
    font-size: 26px;
}
.modal-subheading {
    padding-left: 42px;
    padding-top: 7px;
    font-weight: 500;
    font-size: 22px;
}

.modal-astric {
    
    padding-top: 5px;
    color: red;
    font-weight: 600;
    font-size: 20px;

}

.modal-subheading-wrapper {

    display: flex;
    flex-direction: row;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-right: 175px;
    font-family: 'Gill Sans';
    padding-bottom: 10px;
    padding-left: 30px;
}

.modal-button-wrapper {
    padding-top: 5px;
    padding-left: 10px;  
 
}


.modal-form {
    padding-top: 8px;
    font-family: 'Gill Sans';
    font-size: 16px;
    padding-left: 40px;
}

.modal-create-wrapper {
    padding: 15px;
    justify-content: right;
    font-family: 'Gill Sans';
    padding-top: 30px;
    padding-left: 45%;
}

.modal-create {
    font-family: 'Gill Sans';
  
    border-radius: 20px;
    background: #00a0a0;
    padding: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  
}

.modal-add-wrapper {
    padding-top: 5px;
    padding-left: 40px;
    cursor: pointer;
}

.modal-one{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 500;
    background-color: #ffcccc;
    color: #ff0000;
    border-color: #ffcccc;
    cursor: pointer;
}
.modal-two{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 500;
    background-color: #ccccff;
    color: #0000ff;
    border-color: #ccccff;
    cursor: pointer;
}
.modal-three{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 500;
    background-color: #c6ecc6;
    color: #339933;
    border-color: #c6ecc6;
    cursor: pointer;
}
.modal-four{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 500;
    background-color: #fff2cc;
    color: #cc9900;
    border-color: #fff2cc;
    cursor: pointer;
}
.modal-five{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 400;
    background-color: #ccfff2;
    color: #00b386;
    border-color: #ccfff2;
    cursor: pointer;
}
.modal-six{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffb3;
    color: #b3b300;
    border-color: #ffffe6;
    cursor: pointer;
}
.modal-seven{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 500;
    background-color: #e6ccff;
    color: #6600cc;
    border-color: #e6ccff;
    cursor: pointer;
}
.modal-eight{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 600;
    background-color: #ffccff;
    padding: 10px;
    color: #cc00cc;
    border-color: #ffccff;
    cursor: pointer;
}
.modal-nine{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 600;
    background-color: #ffe6cc;
    padding: 10px;
    color: #cc6600;
    border-color: #ffe6cc;
    cursor: pointer;
}
.modal-ten{
    border-radius: 12px;
    padding: 7px;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: 600;
    background-color: #ffccff;
    padding: 10px;
    color: #990099;
    border-color: #ffccff;
    cursor: pointer;
}

.modal-make-project{
    background: #6672FB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 29px;
    opacity: 1;
    text-align: center;
    font: Circular Std;
    font-size: 20px;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    margin-left: 400px;
    margin-top: 20px;
    cursor: pointer;
}